.animated {
    /* animation properties */
    animation-name: my-animation;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    /* other properties */
    width: 100%;
    height: 100%;
    border-radius: 10px;
    position: relative;
    left: 0; 
    right: 0; 
    margin-left: auto;
    margin-right: auto; 
  
  }
  .animated:hover {
    animation-play-state: paused;
  }
  
  .not-animated {
    animation-play-state: paused;
  }
@keyframes my-animation {
    from {
      background-color: #ff7a59;
      width: 50%;
      top: 0px;
      left: 20%;
      right: 20%;
      height: 100%;
    }
    to {
      background-color: #33475b;
      width: 100%;
      top: 50%;
      left: 0px;
      height: 10%;
    }
  }